.form{
    width: 25rem;   
    margin : 1.5rem auto;
}
.title{
    font-size: 2em;
    font-weight: 400;
}
.button{
    width: 100%;
    margin: .5rem 0rem 0rem 0rem;
}

.placeHeading{
    margin : 1rem 0rem
}
.place{
    height: 200px;
    border-radius: 5px;
    opacity: .6;
}
.place:hover,.addPlace:hover{
    cursor: pointer;
    opacity: 1;
    transition: .9s;
}
.placeName{
    margin: 1rem .5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.addPlace{
    border : 1px dashed grey;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: white;
    width: 60%;
    margin: 1rem auto;;
}
.addPlace:hover{
    background-color: #fbfbfb;
}
.placeHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home{
    margin: 2rem 0rem;
}

.category{
    background-color: white;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.applyOpacity{
    opacity: .4;
}
.removeOpacity{
    opacity: 1;
}
.menuItem
{
    display: flex;
    background-color: white;
    box-shadow:  3px 3px 5px 6px #ccc;  
    margin-bottom: 1.5rem;
}
.menuItem img{
    width: 130px;
    height: 130px;
    background-size: cover ;
}
.menuItem .body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.menuItem .headers , .menuItem .headerIcons{
    display: flex;
}
.menuItem .headers{
    justify-content: space-between
}
.menuItem .body h3 ,.menuItem .body .content  {
    padding: .5rem  1rem;
}
.menuItem .body .content{
    font-size: 1.3rem;
    font-weight: bold
}

.categoryHeader {
    display: flex;
}
.categoryHeader h3{
    margin-right: 1rem;
}

.handleTables{
    display: flex;
}
.handleAddButton1 {
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.menu img , .mainMenu .category img{
    height: 130px;
    width: 130px;
    border-radius: 10%;
}
.mainMenu .heading h3{
    margin-left : 15%;
    margin-bottom:1rem;
}
.mainMenu .singleCategory {
    display: flex;
    flex-direction: column;
}
.mainMenu .category {
    padding: .5rem;
    width: 70%;
    margin : 0 auto;
    display: flex;
}
.mainMenu .body{
    padding: .5rem;
    margin-left: 1rem;
}
.mainMenu .category .image{
    margin-right : 1rem;
}
.mainMenu .price{
    font-size: 1.25rem;
}
.mainMenu .increaseDecrease{
    display: flex;
}
.mainMenu .increase , .mainMenu .count{
    margin-right: 1rem;
    font-weight: bold;
}
.cart{
    position: fixed;
    top:35rem;
    right : 7rem;
}
.cartSymbol {
    background-color: white;
    outline: none;
}
.mainCart{
    background-color: white;
}
.cartCount{
    position: absolute;
    top: 0;
    right: .1;
    font-weight: bold;
    font-size: 1.25rem;
}
.modalTitle {
    margin: .5rem 45%;
}
.mainModal {
    background-color: #D9D9D9;
}
.order{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #F2F2F2;
    padding: 1rem;
    margin : 1rem auto;
}
.orderItem {
    display: flex;
    justify-content: space-between;
}
.itemNameAndPrice {
    display: flex;
    flex-direction: column;
}
.itemQuantity {
    display: flex;
    align-items: center;
    justify-content: center;
}
.total {
    display: flex;
    justify-content: space-between;
}
.goBack{
    position: fixed;
    right : 10rem;
    top : 30rem;
    border-radius: 50% !important;
}
.crossIcon {
    border-radius: 50%;
}